body{
  background-color: #F4F6F6;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    padding-bottom: 20px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
.destination{
  padding: 5px 20px;
  width: 30%;
  line-height: 16px;
  margin: 10px 0;
}
.datelab{
margin-right: 20px;
margin-top: 2%;
font-size: 20px;

}

.Dates{
  margin-left: 20%;
}
.Desimage{
  margin-left: 21.2%;
}
.Dimearr{
  margin-left: 20px;
}

#DesImage{
  margin-left: 21.2%;
}
.buttons{
  padding-top: 20px
}

.Details{
  line-height: 30px;
  font-size: 19px;
  font-family: Helvetica, sans-serif;
  margin: 20px 23%;
  text-align: center;
}
